{
    box-sizing: border-box;
}

body {
    font-family: 'roboto_slabregular', Times, serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8FF;
}

h1 {
    font-family: 'roboto_slabregular', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

h2 {
    font-family: 'roboto_slabregular', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

/* Style the side navigation */
.sidenav {
    font-family: 'roboto_slabregular', Times, serif;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F4F4F;
    overflow-x: hidden;
}


    /* Side navigation links */
    .sidenav a {
        color: #DCDCDC;
        padding: 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color on hover */
        .sidenav a:hover {
            background-color: #DCDCDC;
            color: #2F4F4F;
        }

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
    background-color: #F8F8FF;
}


.circle-clip {
    clip-path: circle(25%);
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('https://main--subtle-sunshine-6418fc.netlify.app/robotoslab-variablefont_wght.woff2') format('woff2'), url('https://main--subtle-sunshine-6418fc.netlify.app/robotoslab-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}