{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8FF;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
}

/* Style the side navigation */
.sidenav {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F4F4F;
    overflow-x: hidden;
}


    /* Side navigation links */
    .sidenav a {
        font-family: 'Roboto Slab', serif;
        font-weight: normal;
        font-style: normal;
        color: #DCDCDC;
        padding: 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color on hover */
        .sidenav a:hover {
            font-family: 'Roboto Slab', serif;
            font-weight: normal;
            font-style: normal;
            background-color: #DCDCDC;
            color: #2F4F4F;
        }

/* Style the content */
.content {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-style: normal;
    margin-left: 200px;
    padding-left: 20px;
    background-color: #F8F8FF;
}


.circle-clip {
    clip-path: circle(25%);
}

.circle-clip-scale {
    clip-path: circle(50%);
    width: 50%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
}