body {
    background-color: #97CEFF;
    font-family: Andale Mono, monospace;
}

p {
    font-family: Andale Mono, monospace;
}

h1 {
    text-align: center;
    background-color: azure;
    font-family: Andale Mono, monospace;
}
